<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-log.txt">

	<targets>
		<target xsi:type="File"
				name="logfile"
				fileName="logs/app-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="WarningFIle"
				fileName="logs/app-${shortdate}-Warnings.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="ErrorFIle"
				fileName="logs/app-${shortdate}-Errors.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<target xsi:type="Console"
				name="logconsole"
				layout="${longdate} | ${level} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
		<logger name="*" minlevel="Warn" writeTo="WarningFile,logconsole" />
		<logger name="*" minlevel="Error" writeTo="ErrorFile,logconsole" />  
	</rules>
</nlog>